html{
    font-size: 10px;
    font-family: "DM Mono", monospace;
    background-color: #b7ffdf;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 1px 1px 1px black;
}

p,
li{
    font-size: 16px;
    line-height: 2;
    /* letter-spacing: 1px; */
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: aqua;
    padding: 0 20px 20px 20px;
    border: 5px solid blue;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}